#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.text-lg {
  color: #ff0000;
}

.text-brand-primary {
  color: #0000ff;
}

.contact-form .field {
  margin-bottom: 1rem;
}

.contact-form label {
  display: block;
  margin-bottom: 0.25rem;
}
